html{
    background:yellow;
  
}
body{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 650px;
    margin: auto;
    border: 8px double blue;
    background-color: white;
    
}
main{
    padding: 10px;
    margin-left: 15px;

}
footer{
    border-top: 3px solid blue;
    margin: 0px 20px 0px;
    text-align: center;
    font-size: 90%;
    font-weight: bold;
    
}
h1{
    font-size: 150%;
    color: blue;
    margin-bottom: 8px;
}
h2{
    font-size: 125%;
    margin-bottom: 0px;
    
}
h3{
    font-size: 115%;
    margin-bottom: 10px;
    margin-top: 0px;
}
blockquote{
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px;

}
ul{
    margin-top: 5px;
    padding-left: 20px;
}
cite{
    color: blue;
    font-style: normal;
}
.movingright{
    text-align: right;
    margin-right: 13px;
    margin-top: 0px;
    margin-bottom: .75em;
}
img{
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
    
}

